<nav class="w-full bg-gray-900 py-4 flex justify-end">
    <ul class="flex">
        <li class="px-2 py-1">
            <a class="text-white" href="/">Inicio</a>
        </li>
        <li class="px-2 py-1">
            <a class="px-2 py-1 border-white border-[1px] rounded hover:opacity-75 text-white" href="/auth/login">Iniciar Sesión</a>
        </li>
        <li class="px-2 py-1">
            <a class="px-2 py-1 border-white border-[1px] rounded hover:opacity-75 text-white" href="/auth/register">Registro</a>
        </li>
    </ul>
</nav>